/* You can add global styles to this file, and also import other style files */
body {
	background: #E8CBC0;
	background: -webkit-linear-gradient(to left, #E8CBC0, #636FA4);
	background: linear-gradient(to left, #E8CBC0, #636FA4);
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

* {
  font-family: Acme;
}

.footercito {
	height: 150px;
	width: 100%;
	background-color: black;
}
