<!-- <h1 class="center-block">WOWY</h1> -->



<div class="jumbotron">
		 <h1 class="heading">Don't lose anything, ever<br><span style="color: #dfc4be;">WOWY</span></h1>
		 <p></p>

		 <div class="main">
								 <div class="group">
										 <a [routerLink]="['/lost-articles']" class="two">
												 <span class="three">FOUND</span>
												 <div class="bg"></div>
										 </a>
										 <a [routerLink]="['/found-articles']" class="one">LOST</a>
								 </div>
						 </div>

		 <!-- <p><a class="btn btn-success btn-lg" href="#" role="button">Lost</a><a class="btn btn-success btn-lg" href="#" role="button">Found</a></p> -->
</div>





<div id="cajita">
  <h1 id="title">Some of our happy users</h1>


  <div id="card_wrapper">
    <div class="photo" id="ander"></div>
    <div class="photo_hover">
      <h1>Ánder el Conquistador</h1>
      <p style="font-size: 18px;">Nunca recuperé la bici, pero son unos tíos de puta madre.</p>
    </div>
  </div>

  <div id="card_wrapper">
    <div class="photo" id="marc"></div>
    <div class="photo_hover">
      <h1>Boyandeeeeerrrrr</h1>
      <p style="font-size: 18px;">Si no fuera por Wowy no podría ponerme otra vez mi camisa de flamencos.</p>
    </div>
  </div>

  <div id="card_wrapper">
    <div class="photo" id="ricardo"></div>
      <div class="photo_hover">
        <h1>Richard Black</h1>
        <p style="font-size: 18px;">Gracias Wowy por devolverme la sonrisa</p>

    </div>
  </div>

  <div id="card_wrapper">
    <div class="photo" id="victor"></div>
      <div class="photo_hover">
        <h1>Víctor to flama</h1>
        <p style="font-size: 18px;">Mi chihuahua Andrei y yo os estaremos eternamente agradecidos</p>
    </div>
  </div>

  <div id="card_wrapper">
    <div class="photo" id="pablo"></div>
      <div class="photo_hover">
        <h1>Pablo Fuentes</h1>
        <p style="font-size: 18px;">¡Coño! ¿Pero esto no era una página de contactos?</p>
    </div>
  </div>

  <div id="card_wrapper">
    <div class="photo" id="escobar"></div>
      <div class="photo_hover">
        <h1>Manolo Escobar</h1>
        <p style="font-size: 18px;">No encontré el carro, pero ahora voy en una bici muy guapa. Gracias Ánder...digo Wowy!</p>
    </div>
  </div>


  <div class="clear"></div>
</div>
