<div *ngIf=article>




	<div class="movie-card">

	  <div class="container">
				<!-- <a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_cover.jpg" alt="cover" class="cover" /></a> -->
	    <!-- <a href="#"><img src="http://localhost:3000" alt="cover" class="cover" /></a> -->

	    <div class="hero" [ngStyle]="{ 'background-image': 'url(' + article.image + ')'}">

	      <div class="details">

	        <!-- <div class="title1">{{article.name}}</div> -->

	        <!-- <div class="title2">{{article.description}}</div> -->

	      </div> <!-- end details -->

	    </div> <!-- end hero -->

	    <div class="description">

	      <div class="column1">
					<div class="buttons">
						  <button class="pulse" data-toggle="modal" data-target="#myModal">MINE!</button>
					</div>
					<h2 style="position: relative; bottom: 50px; color: black;">Reward: {{article.reward}} €</h2>
	      </div> <!-- end column1 -->

	      <div class="column2">
					<h1 style="color: black;">{{article.name}}</h1>
	        <h4 style="color: black;">{{article.description}}</h4>


	      </div> <!-- end column2 -->

				<div class="column3">
					<agm-map [zoom]="zoom" [latitude]=article.lat [longitude]="article.lng">
					<agm-marker [latitude]="article.lat" [longitude]="article.lng"></agm-marker>
					</agm-map>
				</div>


			</div> <!-- end description -->


	  </div> <!-- end container -->
	</div> <!-- end movie-card -->


	<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	        <h4 class="modal-title">You have just Wowy'd!</h4>
	      </div>
	      <div class="modal-body">
					<!-- <h1>{{user.username}}</h1>
					<h3>{{user.email}}</h3>
					<h3>{{user.phone}}</h3> -->
					<h4>Contact details of the person who found your article:</h4>
					<h1>Name: Fran</h1>
					<h3>Email: fran@email.com</h3>
					<h3>Phone: 654765246</h3>
	      </div>
	      <div class="modal-footer">
	        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



<!-- <div class="container">
		<div class="text-center">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
				<h1>Information about the article</h1>
			</div>
		</div>
	</div>

<br /><br />


	<div class="container">
		<div class="text-center">

			<div class="well fixedwidth">
			<div class="col-xs-6 col-sm-6">
				<br />
				<br />
				<br />
				<br />
				<h1>{{ article.name }}</h1>
				<h5>{{ article.description }}</h5>
				<br />
				<br />
				<br />
				<div class="buttons">
					  <button class="pulse">WOWY!</button>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6">
				<img height="450px" [src]="article.image" />
			</div>
			</div>

				<div class="well fixedwidth">
				<div class="well col-xs-12 col-md-12">
					<agm-map [latitude]=article.lat [longitude]="article.lng">
					<agm-marker [latitude]="article.lat" [longitude]="article.lng"></agm-marker>
					</agm-map>
				</div>
				</div>

		</div>
	</div> -->

</div>

<!-- <h1> Article details </h1>
<a [routerLink]="['/article-list']"> Back to list </a>

<div *ngIf="article">
  <div class="article-thumbnail">
    <img height="300" [src]="article.image" />
  </div>

  <div class="article-info">
    <h2> {{ article.name }}&nbsp;</h2>
    <h3> {{ article.description }} </h3>
    <h3> {{ article.reward }} </h3>


    <div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-3">
          </div>
          <div class="col-xs-5 col-md-5">
            <agm-map [latitude]="article.lat" [longitude]="article.lng">
            <agm-marker [latitude]="article.lat" [longitude]="article.lng"></agm-marker>
            </agm-map>
          </div>
          <div class="col-xs-4 col-md-4">
          </div>
        </div>
      </div> -->

    <!-- <div *ngIf="article.specs.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let spec of article.specs"> {{ spec&nbsp;}} </li>
      </ul>
    </div> -->

  <!-- </div>
</div> -->
