<h1> Article details </h1>
<a [routerLink]="['/article-list']"> Back to list </a>

<div *ngIf="article">
  <div class="article-thumbnail">
    <img height="300" [src]="'https://wowy-project.herokuapp.com' + article.image" />
  </div>

  <div class="article-info">
    <h2> {{ article.name }}&nbsp;</h2>
    <h3> {{ article.description }} </h3>
    <h3> {{ article.reward }} </h3>


    <div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-3">
          </div>
          <div class="col-xs-5 col-md-5">
            <agm-map [latitude]="article.lat" [longitude]="article.lng">
            <agm-marker [latitude]="article.lat" [longitude]="article.lng"></agm-marker>
            </agm-map>
          </div>
          <div class="col-xs-4 col-md-4">
          </div>
        </div>
      </div>

    <!-- <div *ngIf="article.specs.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let spec of article.specs"> {{ spec&nbsp;}} </li>
      </ul>
    </div> -->

  </div>
</div>
