<!-- <form >
  <h2> Login </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
</form> -->


<!-- <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" [(ngModel)]="formInfo.username" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
      <input type="password" [(ngModel)]="formInfo.password" class="form-control" name="password" placeholder="Password" required=""/> -->
      <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
      <!-- <br />
      <button (click)="login()" class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
  </div> -->


  <div class="container">

      <form class="well form-horizontal" method="post"  id="contact_form">
  <fieldset>

  <!-- Form Name -->
  <legend style="text-align: center;">Login</legend>

  <!-- Text input-->

  <div class="form-group">
    <label class="col-md-4 control-label">Username</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input [(ngModel)]="formInfo.username" name="username" placeholder="Username" class="form-control"  type="text">
      </div>
    </div>
  </div>

  <!-- Text input-->

  <div class="form-group">
    <label class="col-md-4 control-label" >Password</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
    <input [(ngModel)]="formInfo.password" name="password" placeholder="Password" class="form-control"  type="text">
      </div>
    </div>
  </div>


  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button (click)="login()" class="btn btn-warning" >Login <span class="glyphicon glyphicon-send"></span></button>
    </div>
  </div>

  </fieldset>
  </form>
      </div><!-- /.container -->
