<!-- <h1> Submit an article! </h1>
<a [routerLink]="['']"> Back to home </a> -->

<!-- <select name="" form="createarticle">
  <option value="lost">Lost</option>
  <option value="found" selected>Found</option>
</select>

<form id="createarticle">
    <label> Name* </label>
    <input type="text" [(ngModel)]="newArticle.name" name="name" required />

    <label> Description* </label>
    <input type="text" [(ngModel)]="newArticle.name" name="description" required />

    <label> Localization* </label>
    <input type="text" [(ngModel)]="newArticle.localization" name="localization" required />

    <label> Date* </label>
    <input type="date" [(ngModel)]="newArticle.date" name="date" required />

    <label> Reward* </label>
    <input type="number" [(ngModel)]="newArticle.reward" name="reward" required />

 <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  <button (click)="create()"> Create Article </button>
</form> -->

<div class="container">

  <form class="well form-horizontal"  method="post" id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <h3 style="text-align: center;">Submit an article!</h3>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Article name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input [(ngModel)]="newArticle.name" name="name" placeholder="Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label class="col-md-4 control-label">Username</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input [(ngModel)]="newArticle.username" name="username"  class="form-control" type="text">
          </div>
        </div>
      </div> -->

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Description</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input [(ngModel)]="newArticle.description" name="description" placeholder="Description" class="form-control" type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">When did you lose or find it?</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input [(ngModel)]="newArticle.date" name="date" placeholder="Date" class="form-control" type="date">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Reward</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
            <input [(ngModel)]="newArticle.reward" name="reward" placeholder="Reward" class="form-control" type="number">
          </div>
        </div>
      </div>

      <!-- Select Basic -->

      <div class="form-group">
        <label class="col-md-4 control-label">Lost or found?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select [(ngModel)]="newArticle.status" name="status" form="contact_form" class="form-control selectpicker">
      <!-- <option value="" >Have you lost or found this item?</option> -->
      <option  value="lost">I have lost this item</option>
      <option  value="found">I have found this item</option>
    </select>
          </div>
        </div>
      </div>



      <div class="form-group">
        <label class="col-md-4 control-label">Upload image</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader" />
          </div>
        </div>
      </div>


      <!-- Text input-->
      <!-- <div class="form-group">
        <label class="col-md-4 control-label">Localization</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input [(ngModel)]="newArticle.localization" name="localization" placeholder="Localization" class="form-control" type="text">
          </div>
        </div>
      </div> -->


      <h4 style="text-align: center;">Where did you lost or find the article?</h4>

      <div class="form-group">
        <label class="col-md-4 control-label">Street and number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input [(ngModel)]="newArticle.street" name="street" placeholder="Street and number" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">City</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input [(ngModel)]="newArticle.city" name="city" placeholder="City" class="form-control" type="text">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Country</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input [(ngModel)]="newArticle.country" name="country" placeholder="Country" class="form-control" type="text">
          </div>
        </div>
      </div>



      <!-- <div class="container">
          <div class="row">
            <div class="col-xs-3 col-md-3">
            </div>
            <div class="col-xs-5 col-md-5">
              <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
            <div class="col-xs-4 col-md-4">
            </div>
          </div>
        </div> -->

      <br />

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-5"></div>
        <!-- <label class="col-md-4 control-label"></label> -->
        <div class="col-md-2">
          <button (click)="create()" class="btn btn-warning">Submit product <span class="glyphicon glyphicon-send"></span></button>
        </div>
        <div class="col-md-5"></div>
      </div>

    </fieldset>
  </form>
</div>
<!-- /.container -->
