<h1> Add a new article </h1>
<a [routerLink]="['']"> Back to list </a>

<select name="" form="createarticle">
  <option value="lost">Lost</option>
  <option value="found" selected>Found</option>
</select>

<form id="createarticle">
    <label> Name* </label>
    <input type="text" [(ngModel)]="newArticle.name" name="name" required />

    <label> Description* </label>
    <input type="text" [(ngModel)]="newArticle.description" name="description" required />

    <label> Localization* </label>
    <input type="text" [(ngModel)]="newArticle.localization" name="localization" required />

    <label> Date* </label>
    <input type="date" [(ngModel)]="newArticle.date" name="date" required />

    <label> Reward* </label>
    <input type="number" [(ngModel)]="newArticle.reward" name="reward" required />

 <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  <button (click)="create()"> Create Article </button>
</form>
